{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/850/280/nature/4/">
        </div>
        
        <div class="useravatar">
            <img class="img-circle" alt="" src="{{ url_for('uploads', filename=user.img_path) }}">
        </div>
        
        <div class="card-info"> 
            <span class="card-title">{{user.username}}</span>
            <br>
            <span class="card-settings pull-right">
                <a class="card-settings" href="{{ url_for('get_profile_followers', username=user.username) }}"><span id="num_followers">{{ user.followers.count() }} follower{% if user.followers.count() != 1 %}s{% endif %}</span></a> |
                <a class="card-settings" href="{{ url_for('get_profile_following', username=user.username) }}"><span>{{ user.num_followers() }} following</span></a>
                
                {% if currentuser!=None %}
                    <span> | </span>
                    {% if user.id == session['userid'] %}
                        <a class="card-settings" href="{{url_for('settings') }}"><span class="glyphicon glyphicon-cog"></span></a>
                    
                    {% else %}
                        {% if not currentuser.is_following(user) %}
                            <a class="card-settings" id="follow_link" onClick="follow({{user.id}})"><span class="glyphicon glyphicon-heart-empty" style="color:#737373;"></span></a>
                        {% else %}
                            <a class="card-settings" id="follow_link" onClick="unfollow({{user.id}})"><span class="glyphicon glyphicon-heart"></span></a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                
            </span>
        </div>
    </div>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="posts" class="btn btn-primary" href="#profile_post_box" data-toggle="tab"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <div class="hidden-xs">Items</div>
            </button>
        </div>
        
        {% if user.id == session['userid'] %}
        <div class="btn-group" role="group">
            <button type="button" id="bookmarks" class="btn btn-default" href="#profile_bookmarks_box" data-toggle="tab"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                <div class="hidden-xs">Bookmarks</div>
            </button>
        </div>
        {% endif %}
    </div>

    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="profile_post_box">
                {% include 'postlist.html' %}
            </div>
            <div class="tab-pane fade in" id="profile_bookmarks_box">
                {% include 'bookmarkslist.html' %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below 
            $(this).removeClass("btn-default").addClass("btn-primary");   
        });
    });
    
    var follow = function(user_id) {
         $.ajax({
          type: "GET",
          url: "/follow/"+user_id.toString(),
          success: function(data){
              $("#follow_link span").attr("class", "glyphicon glyphicon-heart")
                                    .attr("style", "color:#EB008A;");
              $("#follow_link").attr("onClick", "unfollow("+user_id.toString()+")");
              
              var followers_heading = data + " follower";
              if(data != "1"){
                  followers_heading = followers_heading +"s";
              }

              $("#num_followers").html(followers_heading);
          }
        })
    };
    
    var unfollow = function(user_id) {
         $.ajax({
          type: "GET",
          url: "/unfollow/"+user_id.toString(),
          success: function(data){
              $("#follow_link span").attr("class", "glyphicon glyphicon-heart-empty")
                                    .attr("style", "color:#737373;");
              $("#follow_link").attr("onClick", "follow("+user_id.toString()+")");
              
              var followers_heading = data + " follower";
              if(data != "1"){
                  followers_heading = followers_heading +"s";
              }

              $("#num_followers").html(followers_heading);
          }
        })
    };
</script>
{% endblock %}